In [11]:
# Get most recent checking code
!pip install -U -t /kaggle/working/ git+https://github.com/Kaggle/learntools.git
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex5 import *
print("Setup Complete")

Collecting git+https://github.com/Kaggle/learntools.git
  Cloning https://github.com/Kaggle/learntools.git to /tmp/pip-req-build-h1mt1wxc
  Running command git clone --filter=blob:none --quiet https://github.com/Kaggle/learntools.git /tmp/pip-req-build-h1mt1wxc
  Resolved https://github.com/Kaggle/learntools.git to commit ca2a51ee0085e4943cadaf5e9fe7dce2ec947d3c
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: learntools
  Building wheel for learntools (setup.py) ... done
  Created wheel for learntools: filename=learntools-0.3.4-py3-none-any.whl size=268968 sha256=3753022f00fb05ee70dbb98189e62be3502fd58354afae88dc4b83977c24624c
  Stored in directory: /tmp/pip-ephem-wheel-cache-f52gv0xx/wheels/2f/6c/3c/aa9f50cfb5a862157cb4c7a5b34881828cf45404698255dced
Successfully built learntools
Installing collected packages: learntools
Successfully installed learntools-0.3.4
Setup Complete

In [12]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_taxi_trips" dataset
dataset_ref = client.dataset("chicago_taxi_trips", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

In [13]:
# Write the code you need here to figure out the answer
# Lista las tablas en el conjunto de datos y despu√©s obtiene la tabla
tables = list(client.list_tables(dataset)) # lista
for table in tables:
    print(table.table_id) # obtenemos las tablas segun nombre, vemos que solo hay una.
    # result : taxi_trips

taxi_trips

In [ ]:

table_name = "taxi_trips"

For the solution, uncomment the line below.

In [16]:
# Your code here

# Construct a reference to the "international_education" table
table_ref = dataset_ref.table("taxi_trips") # esto es lo principal que cambiamos # y sepuede hacer funcion

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "international_education" table
df_head = client.list_rows(table, max_results=15).to_dataframe()
print(df_head.info())
df_head.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   unique_key              15 non-null     object
 1   taxi_id                 15 non-null     object
 2   trip_start_timestamp    15 non-null     datetime64[us, UTC]
 3   trip_end_timestamp      15 non-null     datetime64[us, UTC]
 4   trip_seconds            15 non-null     int64
 5   trip_miles              15 non-null     float64
 6   pickup_census_tract     9 non-null      float64
 7   dropoff_census_tract    9 non-null      float64
 8   pickup_community_area   15 non-null     int64
 9   dropoff_community_area  15 non-null     int64
 10  fare                    15 non-null     float64
 11  tips                    15 non-null     float64
 12  tolls                   15 non-null     float64
 13  extras                  15 non-null     float64
 14  trip_total              15 non-null     float64
 15  payment_type            15 non-null     object
 16  company                 15 non-null     object
 17  pickup_latitude         15 non-null     float64
 18  pickup_longitude        15 non-null     float64
 19  pickup_location         15 non-null     object
 20  dropoff_latitude        15 non-null     float64
 21  dropoff_longitude       15 non-null     float64
 22  dropoff_location        15 non-null     object
dtypes: datetime64[us, UTC](2), float64(12), int64(3), object(6)
memory usage: 2.8+ KB
None

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,ca2943325bb86524ccb494a82c4361e2e59d94b9,4ab868a2a19b95f50f355eb8d0d7638f1912b37f49ebd6...,2013-04-14 14:45:00+00:00,2013-04-14 15:00:00+00:00,660,0.0,NaN,NaN,14,14,...,0.0,6.85,Cash,Blue Ribbon Taxi Association Inc.,41.968069,-87.721559,POINT (-87.7215590627 41.968069),41.968069,-87.721559,POINT (-87.7215590627 41.968069)
1,65772aeff3599d099f040068b9b7cd4491aea5b6,6682944f2b37609761181033253037c05fed4377e8b649...,2013-05-12 20:15:00+00:00,2013-05-12 20:30:00+00:00,240,0.9,NaN,NaN,41,41,...,1.0,6.05,Cash,Northwest Management LLC,41.794090,-87.592311,POINT (-87.592310855 41.794090253),41.794090,-87.592311,POINT (-87.592310855 41.794090253)
2,be9aee48bd3bc2e919ad76956c94e0bc420366f1,af5b394cb22984f667fc0a9cc30e0277cb9edf50f14747...,2013-04-17 01:45:00+00:00,2013-04-17 02:00:00+00:00,780,0.0,1.703184e+10,1.703124e+10,28,24,...,1.5,12.95,Cash,Dispatch Taxi Affiliation,41.867902,-87.642959,POINT (-87.6429586652 41.8679024175),41.906026,-87.675312,POINT (-87.6753116216 41.906025969)
3,e1a250fcf325056fd51fe87e655f2ee15acd4599,4de82fc17cb23f745931085fbbb3b4f920550cda576979...,2013-04-14 14:30:00+00:00,2013-04-14 14:45:00+00:00,360,1.2,1.703107e+10,1.703183e+10,7,6,...,0.0,6.05,Cash,Dispatch Taxi Affiliation,41.930579,-87.642206,POINT (-87.6422063127 41.9305785697),41.946295,-87.654298,POINT (-87.6542980837 41.9462945357)
4,40c021586099a8bb48795aebbb601384304eb60e,486a31c847d3de20267c610f8de52bdd13c696a8a22bcb...,2013-04-21 02:15:00+00:00,2013-04-21 02:15:00+00:00,360,0.0,1.703107e+10,1.703107e+10,7,7,...,2.0,7.25,Cash,Dispatch Taxi Affiliation,41.929263,-87.635891,POINT (-87.6358909539 41.9292629902),41.921855,-87.646211,POINT (-87.6462109769 41.9218549112)

After deciding whether you see any important issues, run the code cell below.

### 3) Determine when this data is from

If the data is sufficiently old, we might be careful before assuming the data is still relevant to traffic patterns today. Write a query that counts the number of trips in each year.  

the results should have two columns:
- `year` - the year of the trips
- `num_trips` - the number of trips in that year

Hints:
- When using **GROUP BY** and **ORDER BY**, you should refer to the columns by the alias `year` that you set at the top of the **SELECT** query.
- The SQL code to **SELECT** the year from `trip_start_timestamp` is <code>SELECT EXTRACT(YEAR FROM trip_start_timestamp)</code>
- The **FROM** field can be a little tricky until you are used to it.  The format is:
    1. A backick (the symbol \`).
    2. The project name. In this case it is `bigquery-public-data`.
    3. A period.
    4. The dataset name. In this case, it is `chicago_taxi_trips`.
    5. A period.
    6. The table name. You used this as your answer in **1) Find the data**.
    7. A backtick (the symbol \`).
    
    
----
<!-- 
### 3) Determinar de cu√°ndo son estos datos

Si los datos son suficientemente antiguos, podr√≠amos ser cuidadosos antes de asumir que los datos a√∫n son relevantes para los patrones de tr√°fico de hoy. Escribe una consulta que cuente el n√∫mero de viajes en cada a√±o.

los resultados deber√≠an tener dos columnas:
- `year` - el a√±o de los viajes
- `num_trips` - el n√∫mero de viajes en ese a√±o

Pistas:
- Al usar **GROUP BY** y **ORDER BY**, deber√≠as referirte a las columnas por el alias `year` que estableces en la parte superior de la consulta **SELECT**.
- El c√≥digo SQL para **SELECT** el a√±o de `trip_start_timestamp` es <code>SELECT EXTRACT(YEAR FROM trip_start_timestamp)</code>.
- El campo **FROM** puede ser un poco complicado hasta que te acostumbras a √©l. El formato es:
    1. Un acento grave (el s√≠mbolo \`).
    2. El nombre del proyecto. En este caso es `bigquery-public-data`.
    3. Un punto.
    4. El nombre del conjunto de datos. En este caso, es `chicago_taxi_trips`.
    5. Un punto.
    6. El nombre de la tabla. Usaste esto como tu respuesta en **1) Find the data**.
    7. Un acento grave (el s√≠mbolo \`). -->

In [19]:
# Your code goes here # trip = viaje 
rides_per_year_query = """
SELECT COUNT(1) AS num_trips, EXTRACT(YEAR FROM trip_start_timestamp) AS year
FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
GROUP BY year
ORDER BY year
"""

# Set up the query (cancel the query if it would use too much of 
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_year_query_job = client.query(rides_per_year_query, job_config=safe_config) # Your code goes here

# API request - run the query, and return a pandas DataFrame
rides_per_year_result = rides_per_year_query_job.to_dataframe() # Your code goes here

# View results
print(rides_per_year_result)

    num_trips  year
0    27217300  2013
1    37395079  2014
2    32385527  2015
3    31756403  2016
4    24979611  2017
5    20731105  2018
6    16476440  2019
7     3888831  2020
8     3947677  2021
9     6382071  2022
10    6495415  2023
11    3163976  2024

Correct

### 4) Dive slightly deeper

to take a closer look at rides from 2016.  Copy the query you used above in `rides_per_year_query` into the cell below for `rides_per_month_query`.  Then modify it in two ways:
1.  **WHERE** clause to limit the query to data from 2016.
2. mod. the query to extract the month rather than the year.


----
<!-- 
### 4) Profundiza un poco m√°s

Te gustar√≠a echar un vistazo m√°s de cerca a los viajes de 2016. Copia la consulta que utilizaste anteriormente en `rides_per_year_query` en la celda de abajo para `rides_per_month_query`. Luego, modif√≠cala de dos maneras:
1. Usa una cl√°usula **WHERE** para limitar la consulta a los datos de 2016.
2. Modifica la consulta para extraer el mes en lugar del a√±o. -->

In [26]:
"""
La cl√°usula HAVING se utiliza en SQL para filtrar los resultados despu√©s de aplicar las 
funciones de agregaci√≥n como COUNT, SUM, AVG, etc. A diferencia de la cl√°usula WHERE, que filtra 
filas antes de que se apliquen las funciones de agregaci√≥n, HAVING filtra despu√©s de la agregaci√≥n.
"""

# # Your code goes here
# rides_per_month_query = """
# SELECT COUNT(1) AS num_trips, EXTRACT(YEAR FROM trip_start_timestamp) AS year, EXTRACT(MONTH FROM trip_start_timestamp) AS month
# FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
# GROUP BY month
# WHERE year = 2016
# ORDER BY month
# """ # aca tuve un error de sintaxis en el lenguaje de consulta

rides_per_month_query = """
SELECT EXTRACT(MONTH FROM trip_start_timestamp) AS month, COUNT(1) AS num_trips
FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
WHERE EXTRACT(YEAR FROM trip_start_timestamp) = 2016
GROUP BY month
ORDER BY month
"""

# Set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_month_query_job = client.query(rides_per_month_query, job_config=safe_config) # Your code goes here

# API request - run the query, and return a pandas DataFrame
rides_per_month_result = rides_per_month_query_job.to_dataframe() # Your code goes here # Your code goes here

# View results
print(rides_per_month_result)

    month  num_trips
0       1    2510389
1       2    2568433
2       3    2851106
3       4    2854290
4       5    2859147
5       6    2841872
6       7    2682912
7       8    2629482
8       9    2532650
9      10    2725340
10     11    2387790
11     12    2312992

Correct

For a hint or the solution, uncomment the appropriate line below.

### 5) Write the query

It's time to step up the sophistication of your queries.  Write a query that shows, for each hour of the day in the dataset, the corresponding number of trips and average speed.

Your results should have three columns:
- `hour_of_day` - sort by this column, which holds the result of extracting the hour from `trip_start_timestamp`.
- `num_trips` - the count of the total number of trips in each hour of the day (e.g. how many trips were started between 6AM and 7AM, independent of which day it occurred on).
- `avg_mph` - the average speed, measured in miles per hour, for trips that started in that hour of the day.  Average speed in miles per hour is calculated as `3600 * SUM(trip_miles) / SUM(trip_seconds)`. (The value 3600 is used to convert from seconds to hours.)

Restrict your query to data meeting the following criteria:
- a `trip_start_timestamp` > **2016-01-01** and < **2016-04-01**
- `trip_seconds` > 0 and `trip_miles` > 0

You will use a common table expression (CTE) to select just the relevant rides.  Because this dataset is very big, this CTE should select only the columns you'll need to create the final output (though you won't actually create those in the CTE -- instead you'll create those in the later **SELECT** statement below the CTE).

This is a much harder query than anything you've written so far.  Good luck!

In [28]:
# Your code goes here
# antigua consulta, faltaron las comillas en las fechas y 
# Esta consulta est√° mal:
# speeds_query = """
#                WITH RelevantRides AS
#                (
#                    SELECT EXTRACT(HOUR FROM trip_start_timestamp) AS hour_of_day,
#                        trip_miles, trip_seconds, (3600 * SUM(trip_miles)/SUM(trip_seconds)) AS avg_mph
#                    FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
#                    WHERE trip_start_timestamp > '2016-01-01' AND < '2016-04-01'
#                        AND trip_seconds > 0 
#                        AND trip_miles > 0
#                )
#                SELECT hour_of_day, COUNT(*) AS num_trip, avg_mph
#                FROM RelevantRides
#                GROUP BY hour_of_day
#                ORDER BY hour_of_day
#                """

speeds_query = """
WITH RelevantRides AS (
    SELECT EXTRACT(HOUR FROM trip_start_timestamp) AS hour_of_day,
           trip_seconds,
           trip_miles
    FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
    WHERE trip_start_timestamp > '2016-01-01' 
      AND trip_start_timestamp < '2016-04-01'
      AND trip_seconds > 0 
      AND trip_miles > 0
)

SELECT hour_of_day,
       COUNT(*) AS num_trips,
       (3600 * SUM(trip_miles) / SUM(trip_seconds)) AS avg_mph
FROM RelevantRides
GROUP BY hour_of_day
ORDER BY hour_of_day
"""



# Set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
speeds_query_job = client.query(speeds_query, job_config=safe_config) # Your code goes here

# API request - run the query, and return a pandas DataFrame
speeds_result = speeds_query_job.to_dataframe() # Your code here

# View results
print(speeds_result)

# Check your answer
q_5.check()

    hour_of_day  num_trips    avg_mph
0             0     203092  20.191744
1             1     178046  18.628598
2             2     143447  18.444370
3             3     108899  19.273107
4             4      80067  27.599669
5             5      75786  33.065604
6             6     102254  28.533112
7             7     187585  19.884592
8             8     284223  16.787900
9             9     306854  18.434124
10           10     279762  20.091309
11           11     294006  20.926340
12           12     311522  20.063901
13           13     317225  19.766321
14           14     312629  19.309655
15           15     319953  18.515564
16           16     349455  17.168814
17           17     394324  14.641375
18           18     431991  15.381995
19           19     416743  17.795008
20           20     356279  20.347398
21           21     318363  22.584731
22           22     289886  21.129847
23           23     241690  20.259757

Correct